.event-card {
    background-color: rgba(106, 101, 101, 0.6);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    margin-top: 20px;
}

.event-card h1 {
    margin: 0;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.edit-delete-button {
    align-items: center;
    margin-top: 20px;
}

.button-separator {
    margin: 10px 0;
}

.event-actions {
    display: flex;
    justify-content: center;
}

.event-actions .btn {
    margin-right: 10px;
}

.titleEventCard {
    text-align: center;
}

.custom-link {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.custom-text {
    margin: 0;
    color: white
}

.custom-button {
    background-color: #4caf50;

    color: #fff;

    padding: 10px 20px;

    border: none;

    border-radius: 5px;

    cursor: pointer;

    transition: background-color 0.3s, transform 0.2s;

}


.custom-button:hover {
    background-color: #45a049;

    transform: scale(1.05);

}

.centered-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.larger-text {
    font-size: 24px;
}


.custom-button {
    background-color: #4caf50;

    color: #fff;

    padding: 10px 20px;

    border: none;

    border-radius: 5px;

    cursor: pointer;

    transition: background-color 0.3s, transform 0.2s;

}


.custom-button:hover {
    background-color: #45a049;

    transform: scale(1.05);

}