.overlay-background {
    background-image: url('../../../../public/desktop-wallpaper-nature-blur-blurry-spring.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;


}

h1 {
    color: white;
}

.users-page-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* Fondo con opacidad */
}

.overlay-background::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    z-index: -1;
    background-image: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: inherit;
    transform: scale(0.5);
    transform-origin: top left;
}